.color-control {
    text-align: center;

}

.color-control div:first-child {
    padding-top: 10px;
}


#colors {
    align-items: center;
    display: flex;
}

.palette {
    font-size: 0.7em;
}


#colors .selected {
    border-width: 3px;
    /* Border-color: color ^ 0x00ffffff */
}


.flip {
    font-size: 40px;
    text-align: center;
    padding: 0 !important;
    line-height: 0.7em;
    background: #DDD;
}


.color {
    cursor: url(https://unpkg.com/nes.css/assets/cursor-click.png);
}