div.actions {
    padding-top: 20px;
}

div.actions .col {
    text-align: right;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;


}


.excluded-letters {
    color: #AAA;

}

span.selected-letters {
        background-color: #DFD;
    
}

input.one-digit {
    width: 3.5em;
    text-align: center;
     padding: 0 !important;
}

table.string-finder tr {
    border-top: 3px solid #555;
}
table.string-finder tr.selected {
    background-color: lightgreen;
}