#chr-nav {
    width: 340px;
    padding-top: 10px;
    background-color: #EEE;
    border: 4px solid black;

}

#chr-nav {
    text-align: center;
    max-height: 1000px;
    overflow-y: scroll;
}

#chr-canvas {
    transform-origin: top;
    border: 1px solid black;
    transform: scale(4);
}

#chrNavContiner {
    overflow-y: scroll;
    overflow-x: hidden;
}
